.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}

html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    background-color: hsl(212, 45%, 89%);
    display: table-cell;
    vertical-align: middle;
}

.qrBackground {
    width: auto;
    height: 576px;
    background-color: #00C6FF;
    border-radius: 20px;
    position: relative;
}

.qr {
    width: 450px;  
    height: 450px;  
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -225px 0 0 -225px
}

.card {
    width: 616px;
    background-color: #ffff;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
}

p {
    font-size: 15px;
    font-weight: 400;
}

.h1 {
    font-family: "Outfit", sans-serif;
    font-weight: 700;
}